
.navigation-active {
    transform: translateX(0%) !important;
}

@media screen and (max-width: 1280px) {
    .navigation-bar {
        width: 50%;
    }

    #importancia-biodiversidad {
        max-width: 90%;
    }

    .contenido-importancia, .imagen-importancia {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .navigation-bar {
        width: 70%;
    }

    #importancia-biodiversidad {
        max-width: 100%;
        height: 95vh;
    }

    .contenido-importancia, .imagen-importancia {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    .navigation-bar {
        position: fixed;
        right: 0px;
        height: 100vh;
        background: linear-gradient(90deg, rgb(87, 208, 186), rgb(121, 224, 205));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navigation-item {
        opacity: 0;
        width: 100%;
    }

    .navigation-item:hover {
        transition: 0.5s;
        background-color: #FFFFFF85;
        border: none;
    }
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}