
.navigation-active {
    transform: translateX(0%) !important;
}

@media screen and (max-width: 1280px) {
    .navigation-bar {
        width: 50%;
    }

    #importancia-biodiversidad {
        max-width: 90%;
    }

    .contenido-importancia, .imagen-importancia {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .navigation-bar {
        width: 70%;
    }

    #importancia-biodiversidad {
        max-width: 100%;
        height: 95vh;
    }

    .contenido-importancia, .imagen-importancia {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .conjunto-conservacion {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .imagen-conservacion {
        width: 60%;
    }

    .texto-conservacion {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    .navigation-bar {
        position: fixed;
        right: 0px;
        height: 100vh;
        background: linear-gradient(90deg, rgb(87, 208, 186), rgb(121, 224, 205));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navigation-item {
        opacity: 0;
        width: 100%;
    }

    .navigation-item:hover {
        transition: 0.5s;
        background-color: #FFFFFF85;
        border: none;
    }

    .text-logo {
        font-size: 30px;
    }

    .navigation-item a {
        font-size: 18px;
    }

    .conjunto-conservacion {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .imagen-conservacion {
        width: 60%;
    }

    .texto-conservacion {
        width: 80%;
    }

    #biodiversidad {
        flex-direction: column;
        max-width: 100%;
        padding: 15px 5px;
    }

    .texto-biodiversidad {
        width: 70vw;
    }

    .imagen-biodiversidad {
        width: 70%
    }
}

@media screen and (max-width: 640px) {
    .contenido-megadiversidad {
        width: 50%;
    }

    .tarjetas-carac {
        width: 100%
    }

    .tarjeta, .imagen {
        max-width: 30vw;
    }

    .naturales-front, .antropo-front {
        justify-content: space-between;
    }

    .card-title {
        margin-left: 10px;
    }

    .info {
        margin-right: 10px;
    }

    .video-entrevista {
        width: 600px;
    }

    .contenido-importancia {
        width: 60%
    }

    .imagen-importancia {
        background-position-x: left;
    }

    .window, .window-content {
        height: 90%;
        width: 90%;
    }

    .title {
        font-family: 'Oswald', sans-serif;
        text-align: left;
        font-size: 4vh;
        margin-left: 3vh
    }

    .text-popup {
        max-width: 80%;
    }

    #facantropo {
        height: 95%;
    }

    #facantropo .window-content {
        height: 100%;
    }
}

@media screen and (max-width: 420px) {
    #biodiversidad2 {
        padding: 10px 0px;
    }

    #importancia-biodiversidad {
        flex-direction: column;
        height: 120vh;
    }

    .contenido-importancia {
        width: 90%;
    }

    .texto-importancia {
        padding: 8px 20px 0px 20px
    }

    .imagen-importancia {
        width: 90%;
    }

    .antropo, .naturales {
        width: 100%;
        height: 30vh;
    }

    .open-modal {
        height: 30vh;
    }

    .video-entrevista, .video-conservacion, .video-mexico {
        width: 360px;
        height: 202px;
    }

    .contenido-megadiversidad {
        width: 70%;
        height: 56vh;
    }

    .tarjeta {
        max-width: 45vw;
    }

    .imagen {
        min-width: 100%;
    }

    .tarjetas-carac {
        height: 150vh;
    }

    .window, .window-content {
        height: 100%;
        width: 100%;
    }

    .title {
        font-family: 'Oswald', sans-serif;
        text-align: left;
        font-size: 4vh;
        margin-left: 3vh
    }

    .img-popup {
        height: 25%;
    }

    .text-popup {
        max-width: 90%;
    }

    #facantropo {
        width: 100%;
        height: 100%;
    }

    #facantropo .window-content {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    #importancia-biodiversidad, .contenido-importancia, .imagen-importancia {
        width: 100%;
    }

    .contenido-importancia {
        height: 130vh;
    }

    #importancia-biodiversidad {
        height: 150vh;
    }

    .navigation-item a {
        font-size: 15px;
    }

    .flip-factores {
        max-width: 95%;
    }

    .video-entrevista, .video-conservacion, .video-mexico {
        width: 320px;
        height: 180px;
    }

    .titulo-inicio-left {
        padding-left: 5px;
    }

    .titulo-inicio {
        padding-right: 5px;
    }

    .contenido-megadiversidad {
        width: 80%;
        height: 60vh;
    }

    .tarjetas-carac {
        height: 170vh;
    }

    #facantropo {
        width: 100%;
        max-height: 200vh;
    }

    #facantropo .window-content {
        max-height: 200vh;
        width: 100%;
    }

    #facantropo .window-body .img-popup {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .titulo-inicio, .titulo-inicio-left {
        font-size: 40px;
    }
    
    .contenido-importancia {
        height: 152vh;
    }

    .titulo-importancia {
        font-size: 25px;
    }

    #importancia-biodiversidad {
        height: 200vh;
    }

    .antropo, .naturales, .open-modal {
        height: 50vh;
    }

    .flip-factores {
        max-height: 120vh;
    }

    .navigation-item a {
        font-size: 12px;
    }

    .contenido-megadiversidad {
        width: 85%;
        height: 80vh;
    }

    .fondo-megadiversidad {
        justify-content: center;
    }

    .tarjetas-carac {
        height: 210vh !important;
    }
}

@media screen and (max-height: 800px) {
    .tarjetas-carac {
        height: 95vh;
    }

    .antropo, .naturales, .open-modal {
        height: 42vh;
    }

    .flip-factores {
        max-height: 250vh;
    }
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}