html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
}

/* Navigation Bar and Pre Navigation Bar */
nav, .pre-nav {
    background: linear-gradient(90deg, rgb(53, 192, 168), rgb(121, 224, 205));
}

.pre-nav {
    height: 125px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: 115px;
    align-self: center;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 4px 2px -2px gray;
    padding: 0;
    margin: 0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.text-logo {
    font-family: 'Girassol', cursive;
    font-size: 23px;
    align-self: center;
    padding-left: 10px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

.navigation-bar {
    padding: 0;
    margin: 0;
    width: 40%;
    min-height: 8vh;
    height: 8vh;
    overflow: hidden;
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.navigation-item {
    display: flex;
    align-items: center;
    float: left;
    transition: 0.5s;
}

.navigation-item a{
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font: 16px "lato", sans-serif;
    text-decoration: none;
    color: white;
    transition: 1.5s;
    text-align: right;
    font-weight: bold;
    width: 100%;
}

.navigation-item:hover {
    transition: 0.5s;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Content and Sections of the Main Web Page */
#inicio {
    padding: 5px;
    padding-top: 8vh;
    margin: 0;
    background: url("https://cdn.pixabay.com/photo/2020/02/05/15/19/meerkat-4821484_960_720.jpg") center top fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.titulo-inicio {
    color: white;
    margin-right: 5%;
    padding-right: 10px;
    text-align: right;
    border-right: 7px solid rgb(121, 224, 205);
    font-size: 50px;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    margin: 20px 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 10px 0px;
}

#biodiversidad {
    background: white;
    padding: 54px 5px;
    margin: auto;
    max-width: 80%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.imagen-biodiversidad {
    width: 40%;
    transition: 0.5s;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
}

.texto-biodiversidad {
    width: 30vw;
}

#biodiversidad2 {
    padding: 0px 5px 54px 5px;
    margin: auto;
}

.titulo-biodiversidad2 {
    text-align: center;
}

.texto-biodiversidad2 {
    max-width: 70%;
    margin: auto;
}

.banner-biodiversidad {
    width: 100%;
    margin: 54px 0px;
}

footer {
    background: linear-gradient(90deg, rgb(53, 192, 168), rgb(121, 224, 205));
    padding: 20px;
}

.flexfooter {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}

.footer {
    text-align: center;
    font-size: 15px;
    color: white;
}

.autores {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

#importancia-biodiversidad {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contenido-importancia {
    width: 40%;
    background: lightgreen;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-importancia {
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin: 0;
}

.texto-importancia {
    padding: 10px 50px 0px 50px;
}

.imagen-importancia {
    background: url("https://t2.ev.ltmcdn.com/es/posts/1/0/0/conservacion_de_la_biodiversidad_que_es_practicas_e_importancia_3001_600_square.jpg") center center;
    width: 40%;
    height: 90vh;
}

/* Content and Sections of the Factores Web Page */
#inicio-factores {
    padding: 5px;
    padding-top: 8vh;
    margin: 0;
    background: url("https://www.contreebute.com/hs-fs/hubfs/ipbes%20report.jpeg?width=3600&name=ipbes%20report.jpeg") center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titulo-inicio-factores {
    color: white;
    margin-left: 5%;
    padding-left: 10px;
    text-align: left;
    border-left: 7px solid rgb(121, 224, 205);
    font-size: 50px;
}

#factores {
    padding: 54px 5px;
}

.titulo-factores {
    text-align: center;
}

.texto-factores {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

.flip-factores {
    max-width: 80%;
    max-height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.antropo, .naturales {
    width: 80%;
    height: 25vh;
    border-radius: 10px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
    margin: 10px;
}

.antropo-front {
    width: 100%;
    height: 100%;
    background: url("https://www.infobae.com/new-resizer/0_6Ja6Vo5KRSE75E94FG4tAl3B0=/992x661/filters:format(jpg):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/TDL56CCL6FF2XPKTY6CGR4NMGQ.jpg") center 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.naturales-front {
    width: 100%;
    height: 100%;
    background: url("https://www.elagoradiario.com/wp-content/uploads/2020/04/Krakatoa-1140x600.jpg") center center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.antropo-front, .antropo-back, .naturales-front, .naturales-back {
    transform: rotateX(0deg);
}

.antropo-back {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
    transform: rotateX(180deg);
    position: absolute;
}

.naturales-back {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
    transform: rotateX(180deg);
    position: absolute;
    color: white;
}

.antropo:hover, .naturales:hover {
    transform: rotateX(180deg)
}

.naturales, .antropo {
    perspective: 1000px;
}

.info {
    height: 25px;
    margin: 5px;
}

.info-white {
    filter: invert(1);
}

.card-text {
    padding: 10px;
}

.video-perdida {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.texto-perdida {
    width: 80%;
}

.articulo {
    text-decoration: none;
    color: white;
    background-color: rgb(121, 224, 205);
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

#conserva {
    background-color: green;
}

#perdida:hover, #conservacion:hover {
    background-color: rgb(53, 192, 168);
}

#conserva:hover {
    background-color: darkgreen;

}
/* Content and Sections of the Conservación Web Page */

#inicio-conservacion {
    padding: 5px;
    padding-top: 8vh;
    margin: 0;
    background: url("https://www.veterinariareptilesyanfibios.com/wp-content/uploads/2018/09/Conservacio%CC%81n-del-medio-ambiente-890x430@2x.jpg") center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.acciones-conservacion {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.texto-conservacion {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titulo-conservacion {
    max-width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.contenido-conservacion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.conjunto-conservacion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.imagen-conservacion {
    width: 35%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

.video-conservacion {
    width: 560px;
    height: 315px;
    margin: 20px;
    margin-top: 0px;
}
/* Content and Sections of the México Web Page */

#inicio-mexico {
    padding: 5px;
    padding-top: 8vh;
    margin: 0;
    background: url("https://www.lifeder.com/wp-content/uploads/2017/05/mexico-pais-megadiverso.jpg") center top fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fondo-megadiversidad {
    background: url("https://maravillosanaturaleza.com/wp-content/uploads/2020/09/qu%C3%A9-es-megadiverso2.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
}

.contenido-megadiversidad {
    background-color: white;
    height: 40vh;
    width: 40%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.titulo-megadiversidad, .texto-megadiversidad {
    width: 80%;
    margin-top: 10px;
}

.video-mexico {
    width: 560px;
    height: 315px;
}