html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
}

/* Navigation Bar and Pre Navigation Bar */
nav, .pre-nav {
    background: linear-gradient(90deg, rgb(53, 192, 168), rgb(121, 224, 205));
}

.pre-nav {
    height: 125px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: 115px;
    align-self: center;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 4px 2px -2px gray;
    padding: 0;
    margin: 0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.text-logo {
    font-family: 'Girassol', cursive;
    font-size: 23px;
    align-self: center;
    padding-left: 10px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

.navigation-bar {
    padding: 0;
    margin: 0;
    width: 40%;
    min-height: 8vh;
    height: 8vh;
    overflow: hidden;
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.navigation-item {
    display: flex;
    align-items: center;
    float: left;
    transition: 0.5s;
}

.navigation-item a{
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font: 16px "lato", sans-serif;
    text-decoration: none;
    color: white;
    transition: 1.5s;
    text-align: right;
    font-weight: bold;
    width: 100%;
}

.navigation-item:hover {
    transition: 0.5s;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Content and Sections of the Web Page */
#inicio {
    padding: 5px;
    padding-top: 8vh;
    margin: 0;
    background: url("https://cdn.pixabay.com/photo/2020/02/05/15/19/meerkat-4821484_960_720.jpg") center top fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.titulo-inicio {
    color: white;
    margin-right: 5%;
    padding-right: 10px;
    text-align: right;
    border-right: 7px solid rgb(121, 224, 205);
    font-size: 50px;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    margin: 20px 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 10px 0px;
}

#biodiversidad {
    background: white;
    padding: 54px 5px;
    margin: auto;
    max-width: 80%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.imagen-biodiversidad {
    width: 40%;
    transition: 0.5s;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
}

.texto-biodiversidad {
    width: 30vw;
}

#biodiversidad2 {
    padding: 0px 5px 54px 5px;
    margin: auto;
}

.titulo-biodiversidad2 {
    text-align: center;
}

.texto-biodiversidad2 {
    max-width: 70%;
    margin: auto;
}

.banner-biodiversidad {
    width: 100%;
    margin: 54px 0px;
}

footer {
    background: linear-gradient(90deg, rgb(53, 192, 168), rgb(121, 224, 205));
    padding: 20px;
}

.footer {
    text-align: center;
    font-size: 15px;
    color: white;
}

#importancia-biodiversidad {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contenido-importancia {
    width: 40%;
    background: lightgreen;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-importancia {
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin: 0;
}

.texto-importancia {
    padding: 10px 50px 0px 50px;
}

.imagen-importancia {
    background: url("https://t2.ev.ltmcdn.com/es/posts/1/0/0/conservacion_de_la_biodiversidad_que_es_practicas_e_importancia_3001_600_square.jpg") center center;
    width: 40%;
    height: 90vh;
}
